<ion-view view-title="Forgot Password" class="grey_bg" hide-nav-bar="true">
  	<ion-content padding="10">
      <div class="list">
			<p class="form_logo">
       	<img title="" alt="" src="img/logomain.png" class="">
        <font> VOCÊ QUER, VOCÊ PODE!</font>
       </p>
        	<label class="item item-input">
          	<input type="email" placeholder="E-Mail">
        	</label>
        	<button class="button button-block button-orange">
           	Solicitar nova senha
         </button>
         <a ng-href="#/app/login" class="button button-clear button-block button-light">
           	Voltar para o login
         </a>
      </div>
      
  </ion-content>
</ion-view>