<ion-view view-title="Register" class="grey_bg" hide-nav-bar="true">

  	<ion-content padding="10">

      <div class="list">

        <p class="form_logo">
          <img title="" alt="" src="img/logomain.png" class="">
          <font> VOCÊ QUER, VOCÊ PODE!</font>
        </p>

        <label class="item item-input">
          <input type="text" placeholder="Nome completo">
        </label>

        <label class="item item-input">
          <input type="text" placeholder="CPF">
        </label>

      	<label class="item item-input">
        	<input type="email" placeholder="E-Mail">
      	</label>

      	<label class="item item-input">
        	<input type="password" placeholder="Senha">
      	</label>
        	
        <button ng-click="doRegister();" class="button button-block button-orange">
         	Cadastrar-se
        </button>

        <!--<button class="button button-clear button-block">
          Já tem uma conta?
        </button>!-->

       <a ng-href="#/app/login" class="button button-clear button-block button-light">
         	Já tenho conta
       </a>

      </div>
      
  </ion-content>
</ion-view>